Repository rodneyosodo/supermq: changes, and which Semaphore blocks are due for each by the changed paths.
All: Check Generated Protocol Buffer Files, Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CoAP, Build CoAP, Lint and Test HTTP, Build HTTP, Lint and Test MQTT, Build MQTT, Lint and Test WS, Build WS, Lint and Test Bootstrap, Build Bootstrap, Lint and Test Certs, Build Certs, Lint and Test Provision, Build Provision, Lint and Test Twins, Build Twins, Lint and Test Readers, Build Readers, Lint and Test Consumers, Build Consumers, Lint and Test CLI, Build CLI, Lint and Test LoRa, Build LoRa, Lint and Test OPC-UA, Build OPC-UA, Lint and Test Internal, Lint and Test Logger, Lint and Test PKG, Lint and Test Tools

Path conditions:
  Check Generated Protocol Buffer Files: any of: things/policies/auth.proto, users/policies/auth.proto, .semaphore/pkg/messaging/message.proto
  Lint and Test Users: (any of: users) or (any of: cmd/users)
  Build Users: (any of: users) or (any of: cmd/users)
  Lint and Test Things: (any of: things) or (any of: cmd/things)
  Build Things: (any of: things) or (any of: cmd/things)
  Lint and Test CoAP: (any of: coap) or (any of: cmd/coap)
  Build CoAP: (any of: coap) or (any of: cmd/coap)
  Lint and Test HTTP: (any of: http) or (any of: cmd/http)
  Build HTTP: (any of: http) or (any of: cmd/http)
  Lint and Test MQTT: (any of: mqtt) or (any of: cmd/mqtt)
  Build MQTT: (any of: mqtt) or (any of: cmd/mqtt)
  Lint and Test WS: (any of: ws) or (any of: cmd/ws)
  Build WS: (any of: ws) or (any of: cmd/ws)
  Lint and Test Bootstrap: (any of: bootstrap) or (any of: cmd/bootstrap)
  Build Bootstrap: (any of: bootstrap) or (any of: cmd/bootstrap)
  Lint and Test Certs: (any of: certs) or (any of: cmd/certs)
  Build Certs: (any of: certs) or (any of: cmd/certs)
  Lint and Test Provision: (any of: provision) or (any of: cmd/provision)
  Build Provision: (any of: provision) or (any of: cmd/provision)
  Lint and Test Twins: (any of: twins) or (any of: cmd/twins)
  Build Twins: (any of: twins) or (any of: cmd/twins)
  Lint and Test Readers: (((((any of: readers) or (any of: cmd/cassandra-reader)) or (any of: cmd/influxdb-reader)) or (any of: cmd/mongodb-reader)) or (any of: cmd/postgres-reader)) or (any of: cmd/timescale-reader)
  Build Readers: (((((any of: readers) or (any of: cmd/cassandra-reader)) or (any of: cmd/influxdb-reader)) or (any of: cmd/mongodb-reader)) or (any of: cmd/postgres-reader)) or (any of: cmd/timescale-reader)
  Lint and Test Consumers: (((((((any of: consumers) or (any of: cmd/cassandra-reader)) or (any of: cmd/influxdb-reader)) or (any of: cmd/mongodb-reader)) or (any of: cmd/postgres-reader)) or (any of: cmd/timescale-reader)) or (any of: cmd/smpp-notifier)) or (any of: cmd/smtp-notifier)
  Build Consumers: (((((((any of: consumers) or (any of: cmd/cassandra-reader)) or (any of: cmd/influxdb-reader)) or (any of: cmd/mongodb-reader)) or (any of: cmd/postgres-reader)) or (any of: cmd/timescale-reader)) or (any of: cmd/smpp-notifier)) or (any of: cmd/smtp-notifier)
  Lint and Test CLI: (any of: cli) or (any of: cmd/cli)
  Build CLI: (any of: cli) or (any of: cmd/cli)
  Lint and Test LoRa: (any of: lora) or (any of: cmd/lora)
  Build LoRa: (any of: lora) or (any of: cmd/lora)
  Lint and Test OPC-UA: (any of: opcua) or (any of: cmd/opcua)
  Build OPC-UA: (any of: opcua) or (any of: cmd/opcua)
  Lint and Test Internal: any of: internal
  Lint and Test Logger: any of: logger
  Lint and Test PKG: any of: pkg
  Lint and Test Tools: any of: tools

Update semaphore.yml
  .semaphore/semaphore.yml
Due: none

Add Semaphore
  .semaphore/semaphore.yml
Due: none

Initial Commit: Add Event Sourcing To Twins Service
  cmd/twins/main.go
  docker/.env
  docker/addons/twins/docker-compose.yml
  twins/redis/events.go
  twins/redis/streams.go
Due: Lint and Test Twins, Build Twins

Add SaveStates to Have Context
  twins/redis/streams.go
Due: Lint and Test Twins, Build Twins

Initial Commit: Add Tracing To Certs Service
  certs/postgres/certs.go
  certs/tracing/doc.go
  certs/tracing/tracing.go
  cmd/certs/main.go
  docker/addons/certs/docker-compose.yml
Due: Lint and Test Certs, Build Certs

Update Semaphore
  .semaphore/semaphore.yml
Due: none

List Members and Membership To also include Owner
  things/clients/postgres/clients.go
  things/groups/postgres/groups.go
  users/clients/postgres/clients.go
  users/groups/postgres/groups.go
Due: Lint and Test Users, Build Users, Lint and Test Things, Build Things

Add More Test
  things/clients/postgres/clients.go
  things/clients/postgres/clients_test.go
  things/clients/service_test.go
Due: Lint and Test Things, Build Things

Add Service Tests
  things/clients/service_test.go
  things/groups/service_test.go
  users/clients/service_test.go
  users/groups/service_test.go
Due: Lint and Test Users, Build Users, Lint and Test Things, Build Things

Add Member Repository Tests
  things/clients/postgres/clients_test.go
  users/clients/postgres/clients_test.go
Due: Lint and Test Users, Build Users, Lint and Test Things, Build Things

Update things/clients/service.go
  things/clients/service.go
Due: Lint and Test Things, Build Things

Combine the Switch Statement
  users/clients/service.go
Due: Lint and Test Users, Build Users

Enable OwnerID Filtering For Admin
  api/openapi/things.yml
  api/openapi/users.yml
  pkg/groups/page.go
  things/clients/api/transport.go
  things/clients/service.go
  things/groups/postgres/groups.go
  things/groups/redis/events.go
  things/groups/service.go
  users/clients/api/transport.go
  users/clients/service.go
  users/groups/postgres/groups.go
Due: Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test PKG

Run script For CI
  .github/workflows/ci.yaml
Due: none

Add List Actions
  users/policies/policies.go
  users/policies/service.go
  users/policies/service_test.go
Due: Lint and Test Users, Build Users

Fix Listing on Multiple Shares
  things/clients/postgres/clients.go
  things/groups/postgres/groups.go
  things/groups/service.go
  users/clients/postgres/clients.go
  users/groups/postgres/groups.go
  users/groups/service.go
Due: Lint and Test Users, Build Users, Lint and Test Things, Build Things

List With Visibility all to include mine and shared
  things/clients/service.go
  users/clients/service.go
Due: Lint and Test Users, Build Users, Lint and Test Things, Build Things

Add Redirect to `policies`
  bootstrap/api/endpoint_test.go
  bootstrap/service_test.go
  docker/nginx/nginx-key.conf
  docker/nginx/nginx-x509.conf
  pkg/clients/page.go
  pkg/sdk/go/policies.go
  pkg/sdk/go/policies_test.go
  pkg/sdk/go/responses.go
  pkg/sdk/go/things.go
  things/clients/service.go
  things/policies/api/grpc/client.go
  things/policies/api/http/endpoints.go
  things/policies/api/http/responses.go
  things/policies/api/http/transport.go
  users/clients/api/logging.go
  users/policies/api/grpc/client.go
  users/policies/api/http/responses.go
Due: Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test Bootstrap, Build Bootstrap, Lint and Test PKG

Uncomment Commented Parts
  pkg/sdk/go/policies_test.go
Due: Lint and Test PKG

Rename Authorize Functions For Users and Things Service
  pkg/sdk/go/policies.go
  pkg/sdk/go/policies_test.go
  pkg/sdk/go/sdk.go
Due: Lint and Test PKG

Fix Listing of Policies
  cli/policies.go
  pkg/sdk/go/policies.go
  pkg/sdk/go/responses.go
  things/policies/api/http/endpoints.go
  things/policies/api/http/responses.go
  things/policies/policies.go
  things/policies/postgres/policies.go
  users/policies/api/http/endpoints.go
  users/policies/api/http/responses.go
  users/policies/policies.go
Due: Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test CLI, Build CLI, Lint and Test PKG

Add Authorize To CLI
  cli/policies.go
Due: Lint and Test CLI, Build CLI

Add Empty Line
  things/policies/auth.proto
Due: Check Generated Protocol Buffer Files, Lint and Test Things, Build Things

Use Switch Statement
  cli/policies.go
Due: Lint and Test CLI, Build CLI

Make Delete Endpoint not to Contain Body
  bootstrap/api/endpoint_test.go
  bootstrap/service_test.go
  pkg/sdk/go/policies.go
  pkg/sdk/go/policies_test.go
  things/policies/api/http/transport.go
  users/policies/api/http/transport.go
Due: Lint and Test Users, Build Users, Lint and Test Things, Build Things, Lint and Test Bootstrap, Build Bootstrap, Lint and Test PKG

Update CLI
  cli/policies.go
  cmd/cli/main.go
Due: Lint and Test CLI, Build CLI

Remove Redirect
  bootstrap/api/endpoint_test.go
  bootstrap/service_test.go
  pkg/sdk/go/policies.go
  pkg/sdk/go/policies_test.go
Due: Lint and Test Bootstrap, Build Bootstrap, Lint and Test PKG
